%h1 Issues

%table.table.table-striped
  %tr
    %th
      Subject
    %th
      Body
    %th
      Department
    %th
      Assignee
    %th
      Status
    %th
      Action

  - @issues.each do |issue|
    %tr
      %td
        = issue.subject
      %td
        = issue.body
      %td
        = issue.department.try(:title)
      %td
        = issue.user
      %td{class: issue.status}
        = t "status.#{issue.status}"
      %td
        = link_to 'Show', issue
        = " | "
        = link_to 'Edit', issue

%br

