= simple_form_for @issue do |f|
  .row
    .span3
      = f.input :customer_name, label: 'Your Name'
      = f.input :customer_email, label: 'Your Email'
      = f.input :subject, label: 'Subject'
      = f.input :department_id, collection: Department.all.collect{|d| [d.title,d.id]}, label: 'Department', prompt: 'Select Department'
    .span9
      = f.input :body, label: false

  .actions

    = f.submit 'Send Issue', class: 'btn btn-primary submit'
    .clearfix
