%table.table.table-bordered.issue_card
  %tr
    %td
      = @issue.subject
    %td
      = @issue.department.blank? ? '-' : @issue.department.title
    %td{class: @issue.status}
      = t "status.#{@issue.status}"
  %tr
    %td{colspan: 3}
      = @issue.body
.row
  .actions
    = link_to 'Update Issue', new_issue_history_item_path(@issue, @issue.history_items.build), class: 'btn btn-primary submit'
    .clearfix

- if @history_items.size > 0
  %h3 Trace
  .row
    - @history_items.each do |history_item|
      %table.table.table-bordered.issue_card
        %tr
          %td
            = history_item.subject
          %td
            = l history_item.created_at, format: :short
          %td
            = history_item.assignee.try(:email)
          %td{class: history_item.status}
            = t "status.#{history_item.status}"
        %tr
          %td{colspan: 4}
            = history_item.body


