= simple_form_for @history_item, url: issue_history_items_path do |f|
  - if @history_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@history_item.errors.count, "error")} prohibited this history_item from being saved:"
      %ul
        - @history_item.errors.full_messages.each do |msg|
          %li= msg
  %table.table
    %tr
      %td
        = f.input :issue_id, input_html: {value: @issue.id}, as: :hidden
        = f.input :assignee_id, input_html: {value: @issue.assignee.try(:id)}, as: :hidden
        = f.input :status, input_html: {value: 'waiting_staff'}, as: :hidden
        = f.input :subject
      %td.waiting_staff
        = t 'status.waiting_staff'
    %tr
      %td{colspan: 3}
        = f.input :body

  .row
    .actions
      = f.submit 'Save', class: 'btn btn-primary submit'
      = link_to 'Cancel', issue_path(@issue), class: 'btn btn-default submit'
      .clearfix
